.update-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(5px);
    color: black;

}

.update-modal-body {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.input-container {
    width: calc(100% - 24px);
}

.update-modal-body h2 {
    margin-bottom: 20px;
}

.update-modal-body label {
    display: block;
    margin-bottom: 10px;
}

.update-modal-body input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
}


.update-modal-actions {
    display: flex;
    justify-content: space-between;
}


.atualizar-manga-button {
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: all 0.1s linear 0.1s;
    z-index: 1000; 
}

.atualizar-manga-button:hover {
    box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.75);
    transform: scale(1.1);
}


.update-enviar-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s linear 0.1s;
}

.update-enviar-button:hover {
    box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.75);
    background-color: darkred;
}


.update-sair-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s linear 0.1s;
}

.update-sair-button:hover {
    box-shadow: 10px 10px 34px -1px rgba(0,0,0,0.75);
    background-color: darkgray;
}

select {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    margin-bottom: 12px;
}